name: Build React Native App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16' # Use the latest stable version

      - name: Install dependencies
        run: npm install

      - name: Install eas-cli
        run: npm install -g eas-cli

      - name: Configure EAS
        run: eas build:configure

      - name: Build the app
        run: eas build --platform all
